<!DOCTYPE html>
<html lang="en">

<head>
  <title>SHSD - Self-Hosting Security Dashboard</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="/../static/style.css">
  <!-- inclure la carte -->
  <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
</head>

<body>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />

  <!-- menu -->
  <header>
    <div class="navigation-bar">
      <div id="navigation-container">
        <a href="#"><img id="logo" src="../static/logo.png" alt="shsd" href="index.html"></a>
        <ul class="menu">
          <li class="menu"><a href="#">Home</a></li>
          <li class="menu"><a href="../static/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </header>

  <br>
  <br>

    <div id='map' >
    <script type="text/javascript">
      const center = {{center_map}};
      const geojson = '{{geojson}}';
      const colors = {{colors_to_print | tojson}}
      console.log(colors);
    </script>
    <script  src="../static/Functions.js"></script>
    <script type="text/javascript">
      var map = printMap(center, geojson);
      addLegend(colors,map);
    </script>
  <br>
  <br>
    </div>
  <footer>
    <p> ceci est le footer et sera rempli plus tard</p>
  </footer>
</body>

</html>
