<!DOCTYPE html>
<html lang="en">

<head>
  <title>SHSD - Self-Hosting Security Dashboard</title>
  <link rel="shortcut icon" type="image/x-icon" href="static/logo_inverse.png" />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="static/style.css">
  <!-- inclure la carte -->
  <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />

  <!-- menu -->
  <div class="topnav" id="header">
    <img id="logo" src="static/logo.png" alt="shsd" href="index">
      <a href="/">Home</a>
      <a href="about">About</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="iconElement()">&#9776;</a>
  </div>
  <div id='map'>
    <script type="text/javascript">
      const center = {{center_map}};
      const geojson =  "api/getGeoJSON?user={{user}}";
      //'{{geojson | safe}}';
      const colors = {{colors_to_print | tojson}}
    </script>
<script src="static/Functions.js"></script>
<script type="text/javascript">
  var map = printMap(center, geojson);
  addLegend(colors, map);
</script>
</div>

<footer>
  <p> ceci est le footer et sera rempli plus tard</p>
</footer>
</body>

</html>
